:root {
    --width: 700px;
    --height: 700px;
    --gap: 30px;
}

input {
    display: none;
}

body {
    max-width: 1280px;
    min-height: 100vh;

    padding: 0;
    margin: 0 auto;
    
    display: flex;
    flex-direction: column;

    font-family: Georgia, 'Times New Roman', Times, serif;

    background-color: black;

    color: aliceblue;
}

.conteiner {
    display: flex;
    margin: auto;
    flex-direction: column;
}

.wrapper {
    display: flex;

    width: var(--width);
    
    margin: auto;
    overflow: hidden;
    border-radius: 5px;
}

.slider-wrapper {
    display: flex;
    justify-content: center;
    
    position: relative;

    gap: var(--gap);
    transition: 1s;
}

.slide {
    display: flex;
    flex-direction: column;
    
    align-items: center;
}

.img {
    width: var(--width);
    height: var(--height);
}

.slider-wrapper [data-slide="1"] .img {
    background-image: url("./assets/adidas.jpg");
}

.slider-wrapper [data-slide="2"] .img {    
    background: url("./assets/lego.jpg") ;
}

.slider-wrapper [data-slide="3"] .img {    
    background: url("./assets/levis.jpg") ;
}

.slider-wrapper [data-slide="4"] .img {    
    background: url("./assets/loreal.jpg") ;
}

.slider-wrapper [data-slide="1"] .img,
.slider-wrapper [data-slide="2"] .img,
.slider-wrapper [data-slide="3"] .img,
.slider-wrapper [data-slide="4"] .img {
    background-size: cover;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.wrapper-controls {
    display: flex;
}

.descriptions {
    position: relative;
    display: flex;
    width: calc(var(--width) - 150px);

    padding: 5px;
    overflow: hidden;
}

.descriptions-wrap {
    display: flex;
    position: relative;
    transition: 1s;
}

.desc {
    width: var(--width);
}

.controls {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

label {
    height: 15px;
    width: 15px;

    margin: 5px;

    border: 3px solid rebeccapurple;
    background-color: rebeccapurple;
    border-radius: 50%;

    transition: 0.5s;
}

label:hover {
    cursor: pointer;
    border: 3px solid aliceblue;
    background-color: aliceblue;
}

#button1:checked ~ .wrapper-controls .descriptions .descriptions-wrap,
#button1:checked ~ .wrapper .slider-wrapper {
    transform: translateX(0);
}

#button2:checked ~ .wrapper-controls .descriptions .descriptions-wrap {
    transform: translateX(calc((var(--width)) * -1));
}

#button2:checked ~ .wrapper .slider-wrapper {
    transform: translateX(calc(var(--width) * -1  - var(--gap)));
}

#button3:checked ~ .wrapper-controls .descriptions .descriptions-wrap {
    transform: translateX(calc(var(--width) * -2));
}

#button3:checked ~ .wrapper .slider-wrapper {
    transform: translateX(calc(var(--width) * -2  - (var(--gap) * 2)));
}

#button4:checked ~ .wrapper-controls .descriptions .descriptions-wrap {
    transform: translateX(calc(var(--width) * -3));
}

#button4:checked ~ .wrapper .slider-wrapper {
    transform: translateX(calc(var(--width) * -3  - (var(--gap) * 3)));
}

#button1:checked ~ .wrapper-controls .controls .label1,
#button2:checked ~ .wrapper-controls .controls .label2,
#button3:checked ~ .wrapper-controls .controls .label3,
#button4:checked ~ .wrapper-controls .controls .label4 {
    background-color: transparent;
}

#button1:checked:hover ~ .wrapper-controls .controls .label1,
#button2:checked:hover ~ .wrapper-controls .controls .label2,
#button3:checked:hover ~ .wrapper-controls .controls .label3,
#button4:checked:hover ~ .wrapper-controls .controls .label4 {
    cursor: auto;
    border: 3px solid rebeccapurple;
}

@media (max-width: 720px) {
    :root {
        --width: 400px;
        --height: 400px;
    }

    .wrapper-controls {
        flex-direction: column-reverse;
    }

    .desc {
        text-align: center;
    }

    .descriptions {        
        width: calc(var(--width));
    }

    .controls {
        justify-content: center;
    }
}

@media (max-width: 410px) {    
    :root {
        --width: 300px;
        --height: 300px;
    }
}
